body{
    background-color: aqua;
}
h1{
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
#nextPage{
    text-align: center;
}
a{
    font-size : 50px;
    color:chocolate ; 
}